.destroyer {
    background-color: orange;
}

.submarine {
    background-color: pink;
}

.cruiser {
    background-color: purple;
}

.battleship {
    background-color: aqua;
}

.carrier {
    background-color: green;
}
